<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>rough ejs</title>
    <link rel="stylesheet" type="text/css" href="/font-awesome.min.css">
  </head>
  <body>
    <h1><%= moment().format('Do MMMM, YYYY'); %></h1>
    <div class="">

      <!-- <form class="" action="/rough" method="post">
        <input type="text" name="name" value="" pattern="[a-z]">
        <button type="submit" name="button">save</button>
      </form> -->



      <!-- <script type="text/javascript">
      function success() {
       if(document.getElementById("textsend").value==="") {
                document.getElementById('button').disabled = true;
            } else {
                document.getElementById('button').disabled = false;
            }
        }
      </script> -->

      <!-- <div style="clear: both">
          <h2 style="float: left; vertical-align: bottom;">Heading 1</h2>
          <h3 style="float: left; vertical-align: bottom;">Heading 2</h3>
      </div> -->

      <!-- <div class="">
        <h2 style="float: left;">Employee: Employee Name</h2>
        <h5 style="float: left; text-align: bottom;"><sub>Employee: Employee Name</sub></h5>
      </div> -->

      <p>I am <span style="font-size: 100px;"> aakash </span> bishnoi</p>

    </div>

  </body>
</html>
